<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{css/principal/principal.css}">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!----===== JS ===== -->
    <title>Menu Principal</title>
</head>
<body>
<nav th:replace="fragment/layout :: nav"></nav>
<script th:src="@{js/js/principal/principal.js}"></script>
</body>
</html>
