.section-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 60px;
}

.section-container section {
    flex: 1;
    margin: 10px;
    text-align: center;
    transition: all 0.3s;
}

.section-container section:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.section-container section a {
    text-decoration: none;
    color: inherit;
}

.section-container section .section-1,
.section-container section .section-2,
.section-container section .section-3 {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-container section .section-1 i,
.section-container section .section-2 i,
.section-container section .section-3 i {
    font-size: 5vw;
    color: #555555;
    margin-bottom: 20px;
}

.section-container section h1 {
    color: #333;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .section-container section {
        flex-basis: 45%;
    }
}

@media (max-width: 480px) {
    .section-container section {
        flex-basis: 100%;
    }
}

.titulo {
    text-align: center;
    font-size: 45px;
    color: #555;
    padding-top: 40px;
    margin-bottom: 30px;
}

.titulo-2 {
    text-align: center;
    font-size: 49px;
    color: #555;
    margin-top: 60px;
    margin-bottom: 50px;
}

.titulo-3 {
    text-align: center;
    font-size: 43px;
    color: #555;
    margin-top: 40px;
}

.contenedor1-principal-inventario {
    text-align: center;
}

.contenedor {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    margin: 0 auto;
}

.contenedor i {
    font-size: 40px;
    border-radius: 50%;
    padding: 20px;
    background-color: #f0f0f0;
    color: #555555;
}

.cuadro-indicativo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.cuadro {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(30% - 40px);
    margin: 20px;
}

@media (max-width: 768px) {
    .cuadro {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .cuadro {
        width: calc(100% - 40px);
    }
}

.cuadro h2 {
    color: #333;
    margin-bottom: 20px;
}

.cuadro p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.cuadro i {
    font-size: 48px;
    color: #555;
    margin-bottom: 20px;
}

.dark .cuadro i,
.dark .section-container section i,
.dark .titulo,
.dark .titulo-2,
.dark .titulo-3,
.dark .empresa .name-empresa,
.dark .bottom-content .mode-text,
.dark .section-container h1,
.dark .cuadro-indicativo p,
.dark .cuadro-indicativo h2 {
    color: #fff;
}

nav.sidebar {
    width: 250px;
}

main {
    margin-left: 120px;
}

main.menu-close {
    margin-left: 90px;
    margin-right: 90px;
}
