<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ventas</title>
    <link rel="stylesheet" th:href="@{/css/principal/principal.css}">
    <script src="https://kit.fontawesome.com/1842a186b5.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
    <style>
        .dark #titleVentas{
            color: #fff;
        }
        #suggestions div {
            margin-top: 10px;
            cursor: pointer;
        }
        #suggestions div:hover {
            color: #0d6efd;

        }
    </style>
</head>
<body style="background-color: var(--body-color)">
    <main>
        <nav th:replace="fragment/layout :: nav"></nav>
        <h1 class="text-center mt-3" id="titleVentas">Listado De Ventas</h1>
        <div class="container mt-3">
            <button class="btn btn-primary btnnuevo"><i class="fas fa-plus me-1"></i>Nueva Venta</button>
            <table class="table table-hover table-bordered mt-3" id="tbventas">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Numero Venta</th>
                    <th>Usuario</th>
                    <th>Cliente</th>
                    <th>Registro</th>
                    <th>Total</th>
                    <th>Accion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="v:${ventalist}">
                    <td th:text="${v.idventa}"></td>
                    <td th:text="${v.numeroventa}"></td>
                    <td th:text="${v.usuario.nombre}"></td>
                    <td th:text="${v.cliente.nomcliente}"></td>
                    <td th:text="${v.fecharegistro}"></td>
                    <td th:text="${v.total}"></td>
                    <td>
                        <button class="btn btn-info" id="btnactualizar"
                                th:data-idventa="${v.idventa}"><i class="fas fa-edit"></i></button>
                        <a th:href="@{/venta-detalle/{idventa}(idventa=${v.idventa})}" class="btn btn-warning"><i class="far fa-eye me-2"></i>Detalle</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    <div class="modal fade" id="modalventas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Venta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form onsubmit="return validarVentas()">
                    <div class="modal-body mt-1">
                        <input type="hidden" id="txtidventa" readonly>
                        <input type="hidden" id="txtidusuario" th:each="b:${session.USUARIO}" th:value="${b.idusuario}" readonly>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txtnumeroventa"
                                   placeholder="" readonly>
                            <label for="txtnumeroventa">Numero Venta</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="hidden" id="txtidcliente" readonly>
                            <input type="text" class="form-control" id="txtvalorcliente"
                                   placeholder="">
                            <label for="txtvalorcliente">Cliente</label>
                            <small class="text-danger" id="validnomcliente"></small>
                            <div id="suggestions"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-angle-left me-1"></i>Cerrar</button>
                        <button type="button" class="btn btn-success btnguardar"><i class="fas fa-save me-1"></i>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </main>

    <script th:inline="javascript">
        var usuarioId = /*[[${session.USUARIO.idusuario}]]*/;
    </script>
    <script th:src="@{/js/jquery/jquery.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/js/principal/principal.js}"></script>
    <script th:src="@{/js/web/backoffice/venta/frmventa.js}"></script>
</body>
</html>