<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Proveedores</title>
    <link rel="stylesheet" th:href="@{css/principal/principal.css}">
    <script src="https://kit.fontawesome.com/1842a186b5.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.css}">
</head>
<body style="background-color: var(--body-color)">
    <nav th:replace="fragment/layout :: nav"></nav>
    <h1 class="text-center mt-3">Consultas De Proveedores</h1>
    <div class="container mt-3">
        <form th:action="@{/gestionconsulta-proveedores}" method="post">
            <div class="mb-3 form-floating d-flex align-items-center me-2">
                <input type="text" name="nomproveedor" class="form-control me-2 w-100" id="txtnomproveedor">
                <label for="txtnomproveedor">Nombre Proveedor</label>
                <button type="submit" class="btn btn-primary me-2">Consultar</button>
                <a th:href="@{/gestion-consultas}" class="btn btn-danger">Retornar</a>
            </div>
            <div th:if="${proveedorconsultagestion != null}">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <td>ID Proveedor</td>
                            <td>Proveedor</td>
                            <td>Empresa</td>
                            <td>Email</td>
                            <td>Telefono</td>
                            <td>Registro</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="gcp:${proveedorconsultagestion}">
                            <td th:text="${gcp.idproveedor}"></td>
                            <td th:text="${gcp.nomproveedor}"></td>
                            <td th:text="${gcp.nomempresa}"></td>
                            <td th:text="${gcp.correo}"></td>
                            <td th:text="${gcp.telefono}"></td>
                            <td th:text="${gcp.registro}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${error != null}">
                <p class="alert alert-danger" th:text="${error}"></p>
            </div>
        </form>
        <div th:if="${proveedorconsultagestion == null}">
            <p class="alert alert-info">No Se Encontraron Consultas</p>
        </div>
    </div>
</body>
</html>