<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Productos</title>
    <link rel="stylesheet" th:href="@{css/principal/principal.css}">
    <script src="https://kit.fontawesome.com/1842a186b5.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.css}">
</head>
<body style="background-color: var(--body-color)">
    <nav th:replace="fragment/layout :: nav"></nav>
    <h1 class="text-center mt-3">Consultas De Productos</h1>
    <div class="container mt-3">
        <form th:action="@{/gestionconsulta-productos}" method="post">
            <div class="mb-3 form-floating d-flex align-items-center me-2">
                <input type="text" name="nomproducto" class="form-control me-2 w-100" id="txtnomproducto">
                <label for="txtnomproducto">Nombre Producto</label>
                <button type="submit" class="btn btn-primary me-2">Consultar</button>
                <a th:href="@{/gestion-consultas}" class="btn btn-danger">Retornar</a>
            </div>
            <div th:if="${productoconsultagestion != null}">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID Producto</th>
                            <th>Producto</th>
                            <th>Categoria</th>
                            <th>Precio</th>
                            <th>Proveedor</th>
                            <th>Registro</th>
                            <th>Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="gcp:${productoconsultagestion}">
                            <td th:text="${gcp.idproducto}"></td>
                            <td th:text="${gcp.marca}"></td>
                            <td th:text="${gcp.categoria}"></td>
                            <td th:text="${gcp.precio}"></td>
                            <td th:text="${gcp.nomproveedor}"></td>
                            <td th:text="${gcp.registro}"></td>
                            <td>
                                <img th:src="${gcp.imagen}" alt="nada" width="80" height="80">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${error != null}">
                <p class="alert alert-danger" th:text="${error}"></p>
            </div>
        </form>
        <div th:if="${productoconsultagestion == null}">
            <p class="alert alert-info">No Se Encontraron Consultas</p>
        </div>
    </div>
</body>
</html>