/* Contenedor Principal */
.section-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    margin-right: 30px;
}

.section-container section {
    flex: 1;
    margin: 10px;
    text-align: center;
    transition: all 0.3s;
    max-width: 550px;
    border: 2.5px solid #C8CCD9;
    border-radius: 20px;
}

.section-container section:hover {
    transform: scale(0.93);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.dark .section-container section:hover {
    transform: scale(0.93);
    box-shadow: 0 8px 16px #242526;
    background-color: #444647;
}

.section-container section a {
    text-decoration: none;
    color: inherit;
}

/* Cuadros Internos */
.section-container section .section-1,
.section-container section .section-2,
.section-container section .section-3 {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 30px 20px;
    box-shadow: 0 4px 8px rgba(253, 253, 253, 0.1);
}

.section-container section .section-1 i,
.section-container section .section-2 i,
.section-container section .section-3 i {
    font-size: 5vw;
    color: #555555;
    margin-bottom: 20px;
}

.section-container section h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Títulos Generales */
.titulo {
    text-align: center;
    font-size: 45px;
    color: #555;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.titulo-2 {
    text-align: center;
    font-size: 49px;
    color: #555;
    margin-top: 60px;
    margin-bottom: 50px;
}

.titulo-3 {
    text-align: center;
    font-size: 43px;
    color: #555;
    margin-top: 40px;
}

/* Contenedores Especiales */
.contenedor1-principal-inventario,
.contenedor {
    text-align: center;
}

.contenedor {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    margin: 0 auto;
}

.contenedor i {
    font-size: 40px;
    border-radius: 50%;
    padding: 20px;
    background-color: #f0f0f0;
    color: #555555;
}

/* Cuadros Indicativos Generales */
.cuadro-indicativo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.cuadro {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    width: calc(30% - 40px);
    margin: 20px;
}

.cuadro h2 {
    color: #333;
    margin-bottom: 20px;
}

.cuadro p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.cuadro i {
    font-size: 48px;
    color: #555;
    margin-bottom: 20px;
}

/* Modo Oscuro */
.dark .cuadro i,
.dark .section-container section i,
.dark .titulo,
.dark .titulo-2,
.dark .titulo-3,
.dark .empresa .name-empresa,
.dark .bottom-content .mode-text,
.dark .section-container h1,
.dark .cuadro-indicativo p,
.dark .cuadro-indicativo h2 {
    color: #fff;
}

/* Navegación */
nav.sidebar {
    width: 250px;
}

main {
    margin-left: 120px;
}

main.menu-close {
    margin-left: 80px;
}

/* Media Queries */
@media (max-width: 768px) {
    .section-container section {
        flex-basis: 45%;
    }

    main {
        margin-left: 80px;
    }

    nav.sidebar {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .section-container section {
        flex-basis: 100%;
    }

    nav.sidebar {
        width: 100px;
    }

    main {
        margin-left: 60px;
    }
}
