<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion de Consultas</title>
    <link rel="stylesheet" th:href="@{css/principal/principal.css}">
    <link rel="stylesheet" th:href="@{css/inventario/inventario.css}">
    <script src="https://kit.fontawesome.com/1842a186b5.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="background-color: var(--body-color)">
    <nav th:replace="fragment/layout :: nav"></nav>
    <main>
        <div class="contenedor1-principal-inventario">
            <h1 class="titulo">BIENVENIDO A GESTION DE CONSULTAS</h1>
            <div class="contenedor">
                <i class="bx bx-bar-chart-alt-2 icon"></i>
            </div>
        </div>
        <div>
            <h1 class="titulo-3">Panel de Administración de Gestion de Consultas</h1>
        </div>
        <section class="section-container">
            <section>
                <a th:href="@{/gestionconsulta-usuarios}">
                    <div class="section-1">
                        <h1>Usuarios</h1>
                        <i class="fas fa-users"></i>
                    </div>
                </a>
            </section>
            <section>
                <a th:href="@{/gestionconsulta-empresas}">
                    <div class="section-2">
                        <h1>Empresa</h1>
                        <i class="fas fa-building"></i>
                    </div>
                </a>
            </section>
            <section>
                <a th:href="@{/gestionconsulta-proveedores}">
                    <div class="section-2">
                        <h1>Proveedor</h1>
                        <i class="fas fa-truck"></i>
                    </div>
                </a>
            </section>
            <section>
                <a th:href="@{/gestionconsulta-productos}">
                    <div class="section-2">
                        <h1>Producto</h1>
                        <i class="fas fa-box"></i>
                    </div>
                </a>
            </section>
        </section>
        <div>
            <h1 class="titulo-2">Mapa de Funcionalidades</h1>
        </div>
        <section class="cuadro-indicativo">
            <section id="usuarios" class="cuadro">
                <h2>Usuarios</h2>
                <i class="fas fa-users"></i>
                <p>Descripción: Esta sección proporciona información sobre los usuarios del sistema.</p>
                <p><strong>Función:</strong>
                    Permite visualizar los usuarios registrados en el sistema, incluyendo su información personal, roles, permisos, etc. No permite realizar cambios en los registros de usuarios, solo consultar su información.
                </p>
            </section>

            <section id="empresa" class="cuadro">
                <h2>Empresa</h2>
                <i class="fas fa-building"></i>
                <p>Descripción: Esta sección brinda detalles sobre las empresas asociadas al sistema.</p>
                <p><strong>Función:</strong>
                    Permite acceder a la información de las empresas, como su nombre, dirección, información de contacto, etc. No permite realizar modificaciones en los datos de las empresas, solo consultar la información existente.
                </p>
            </section>

            <section id="proveedor" class="cuadro">
                <h2>Proveedor</h2>
                <i class="fas fa-truck"></i>
                <p>Descripción: Esta sección ofrece información sobre los proveedores de productos.</p>
                <p><strong>Función:</strong>
                    Permite consultar la información de los proveedores, incluyendo su nombre, información de contacto, términos de pago, etc. No permite editar ni eliminar registros de proveedores, solo permite la visualización de datos.
                </p>
            </section>

            <section id="producto" class="cuadro">
                <h2>Producto</h2>
                <i class="fas fa-box"></i>
                <p>Descripción: Esta sección muestra detalles sobre los productos disponibles en el sistema.</p>
                <p><strong>Función:</strong>
                    Permite acceder a la información de los productos, como su nombre, descripción, precio, cantidad en stock, etc. No permite modificar la información de los productos, solo permite la consulta de datos.
                </p>
            </section>

        </section>
    </main>

    <script th:src="@{js/js/principal/principal.js}"></script>
</body>
</html>