<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Usuarios</title>
    <link rel="stylesheet" th:href="@{css/principal/principal.css}">
    <link rel="stylesheet" th:href="@{css/inventario/gestionUsuario/gestionUsuario.css}">
    <script src="https://kit.fontawesome.com/1842a186b5.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<nav th:replace="fragment/layout :: nav"></nav>

<main>
    <div class="contenedor1-principal-usuario">
        <h1 class="titulo">BIENVENIDO A GESTIÓN DE USUARIOS</h1>
        <div class="contenedor">
            <i class="fas fa-users"></i>
        </div>
    </div>

    <div>
        <h1 class="titulo-3">Panel de Administración de Gestion de Usuario</h1>
    </div>

    <section class="section-container">
        <!--Empresa-->
        <section>
            <a th:href="@{/usuario-gestion}">
                <div class="section-3">
                    <h1>Usuarios</h1>
                    <i class="fas fa-users"></i>
                </div>
            </a>
        </section>
        <!--Proveedor-->
        <section>
            <a th:href="@{/roles-gestion}">
                <div class="section-3">
                    <h1>Roles</h1>
                    <i class="fas fa-tools"></i>
                </div>
            </a>
        </section>
        <!--Cliente-->
        <section>
            <a th:href="@{/menus-gestion}">
                <div class="section-3">
                    <h1>Menus</h1>
                    <i class="fas fa-bars"></i>
                </div>
            </a>
        </section>
        <!--Producto-->
        <section>
            <a th:href="@{/rolenlace-gestion}">
                <div class="section-1">
                    <h1>Rol Enlaces</h1>
                    <i class="fas fa-link"></i>
                </div>
            </a>
        </section>
    </section>

    <div>
        <h1 class="titulo-2">Mapa de Funcionalidades </h1>
    </div>
    <section class="cuadro-indicativo">
        <section id="usuarios-gestion" class="cuadro">
            <h2>Usuarios</h2>
            <i class="fas fa-users"></i>
            <p>Esta sección permite gestionar los usuarios del sistema y asignar sus roles correspondientes.</p>
            <p><strong>Función:</strong> Permite visualizar información detallada sobre los usuarios registrados en el sistema, incluyendo su información personal y la asignación de roles. Además, facilita la creación, edición y eliminación de usuarios y la gestión de sus roles.</p>
        </section>

        <section id="roles-gestion" class="cuadro">
            <h2>Roles</h2>
            <i class="fas fa-tools"></i>
            <p>Esta sección permite gestionar los roles dentro del sistema.</p>
            <p><strong>Función:</strong> Permite organizar y administrar los roles asignados a los usuarios del sistema. Los roles agrupan funcionalidades y permisos similares para una mejor organización y control de acceso. Permite la creación, edición y eliminación de roles.</p>
        </section>

        <section id="menu-gestion" class="cuadro">
            <h2>Menús</h2>
            <i class="fas fa-bars"></i>
            <p>Esta sección permite gestionar los menús del sistema y crear nuevos menús.</p>
            <p><strong>Función:</strong> Permite organizar y configurar los menús de navegación del sistema. Los usuarios pueden crear, editar y eliminar menús, así como agregar y organizar elementos dentro de ellos para mejorar la navegación y la experiencia del usuario.</p>
        </section>

        <section id="rolenlace-gestion" class="cuadro">
            <h2>Rol Enlaces</h2>
            <i class="fas fa-link"></i>
            <p>Esta sección permite gestionar los enlaces entre roles y menús.</p>
            <p><strong>Función:</strong> Permite gestionar las asociaciones entre roles de usuario y los menús disponibles en el sistema. Los usuarios pueden asignar y administrar los enlaces entre roles y menús para controlar el acceso a las funcionalidades y características específicas del sistema.</p>
        </section>

    </section>

</main>

<script th:src="@{js/js/principal/principal.js}"></script>
</body>
</html>