/* Contenedor principal */
.section-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    margin-right: 30px;
}

.section-container section {
    flex: 1;
    margin: 10px;
    text-align: center;
    transition: all 0.3s;
    max-width: 550px;
    border: 2.5px solid #C8CCD9;
    border-radius: 20px;
}

.section-container section:hover {
    transform: scale(0.93);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.dark .section-container section:hover {
    transform: scale(0.93);
    box-shadow: 0 8px 16px #242526;
    background-color: #444647;
}

.section-container section a {
    text-decoration: none;
    color: inherit;
}

.section-container section .section-1,
.section-container section .section-2,
.section-container section .section-3 {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 30px 20px;
    box-shadow: 0 4px 8px rgba(253, 253, 253, 0.1);
}

.section-container section .section-1 i,
.section-container section .section-2 i,
.section-container section .section-3 i {
    font-size: 5vw;
    color: #555555;
    margin-bottom: 20px;
}

.section-container section h1 {
    color: #333;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .section-container section {
        flex-basis: 45%;
    }
}

@media (max-width: 480px) {
    .section-container section {
        flex-basis: 100%;
    }
}

.titulo {
    text-align: center;
    font-size: 45px;
    color: #555;
    padding: 30px 0 15px;
    margin-bottom: 30px;
}

.titulo-2 {
    text-align: center;
    font-size: 49px;
    color: #555;
    margin: 60px 0 50px;
}

.titulo-3 {
    text-align: center;
    font-size: 43px;
    color: #555;
    margin-top: 40px;
}

.contenedor1-principal-inventario {
    text-align: center;
}

.contenedor {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    margin: 0 auto;
}

.contenedor i {
    font-size: 40px;
    border-radius: 50%;
    padding: 20px;
    background-color: #f0f0f0;
    color: #555555;
}

.cuadro-indicativo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.cuadro {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    width: calc(30% - 40px);
    margin: 20px;
}

@media (max-width: 768px) {
    .cuadro {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .cuadro {
        width: calc(100% - 40px);
    }
}

.cuadro h2 {
    color: #333;
    margin-bottom: 20px;
}

.cuadro p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.cuadro i {
    font-size: 48px;
    color: #555;
    margin-bottom: 20px;
}

.dark .cuadro i,
.dark .section-container section i,
.dark .titulo,
.dark .titulo-2,
.dark .titulo-3,
.dark .empresa .name-empresa,
.dark .bottom-content .mode-text,
.dark .section-container h1,
.dark .cuadro-indicativo p,
.dark .cuadro-indicativo h2,
.dark .dashboard-title,
.dark .title,
.dark .paragraph,
.dark .subtitle {
    color: #fff;
}

nav.sidebar {
    width: 250px;
}

.main-home article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 60px 0 20px;
}

.dashboard-title {
    font-size: 46px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 30px 0 20px -45px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.section-containecito {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    height: 300px;
    padding: 40px 0 20px;
}

.section-containecito img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.content {
    text-align: center;
    margin-bottom: 10px;
}

.quantity {
    margin-top: auto;
    text-align: right;
}

.section-containecito:nth-child(1) {
    background-color: #bdbec1;
    color: white;
}

.section-containecito:nth-child(2) {
    background-color: #3b5897;
    color: white;
}

.section-containecito:nth-child(3) {
    background-color: #00acf0;
    color: white;
}

.section-containecito:nth-child(4) {
    background-color: #8b9b4b;
    color: white;
}

.section-containecito:nth-child(5) {
    background-color: #fbbd23;
    color: white;
}

.section-containecito img {
    filter: brightness(0) invert(1);
}

.scroll-view {
    padding: 30px 16px 0;
}

.linear-layout {
    margin: 30px;
}

#logo_tecnostore {
    width: 300px;
    display: block;
    margin: 60px auto;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-top: 16px;
}

.subtitle {
    font-size: 33px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 25px 0 36px;
}

.paragraph {
    font-size: 21.5px;
    color: black;
    margin-top: 8px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin: 8px;
    margin-bottom: 30px;
}

i {
    color: red;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_tecnostore {
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .main-home {
        flex-direction: column;
        align-items: center;
    }

    .section-containecito {
        width: calc(50% - 20px);
    }
}
